.menu{
    width: 1920px;
    max-width: 1920px;
    height: auto;
    display: flex;
    a{
        text-decoration: none;
        color: #000;
    }
    &__new{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: absolute;
        left: 530px;
        top:60px;
        color: #000;
        font-size: 24px;
        z-index: 1;
    }
    &__catalog{
        color: #000;
        font-size: 24px;
        flex-direction: column;
        flex-shrink: 0;
        position: absolute;
        left: 600px;
        top:60px;
        z-index: 1;
    }
    &__asec{
        color: #000;
        font-size: 24px;
        flex-direction: column;
        flex-shrink: 0;
        position: absolute;
        left: 720px;
        top:60px;
        z-index: 1;
    }
    &__sale{
        color: #000;
        font-size: 24px;
        flex-direction: column;
        flex-shrink: 0;
        position: absolute;
        left: 890px;
        top:60px;
    }
    &__sorry{
        h1{
            left: 270px;
            top: 265px;
            position: absolute;
            font-size: 64px;
        }
        p{
            width: 1400px;
            top: 370px;
            left: 130px;
            position: absolute;
            font-size: 54px;
        }
    }
}